<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
  <head>
    <title>AI based tool For Preliminary Diagnosis</title>
    <link
      href="/static/css/bootstrap.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      href="/static/css/style.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="css/flexslider.css"
      type="text/css"
      media="screen"
    />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/modernizr.custom.js"></script>
  </head>
  <body>
    <!-- header -->
    <div class="banner1">
      <div class="container">
        <div class="header" style="display: flex; justify-content: center">
          <div class="head-nav">
            <span class="menu"> </span>
            <ul class="cl-effect-1">
              <li><a href="/">Home</a></li>
              <li class="active"><a href="/about">about</a></li>
              <li><a href="/admin">Admin</a></li>
              <li><a href="/contact">Patient</a></li>
              <li><a href="/doctor">Doctor</a></li>
              <div class="clearfix"></div>
            </ul>
          </div>

          <div class="clearfix"></div>
        </div>
        <!-- script-for-nav -->
        <script>
          $("span.menu").click(function () {
            $(".head-nav ul").slideToggle(300, function () {
              // Animation complete.
            });
          });
        </script>
        <!-- script-for-nav -->
        <div class="logo1">
          <h1>
            <b
              >AI based tool For Preliminary Diagnosis Of Dermatological
              Manifestationsing</b
            >
          </h1>
        </div>
      </div>
    </div>
    <!-- header -->
    <!-- about -->
    <div class="main_bg">
      <div class="container">
        <div class="main">
          <div class="about">
            <div class="col-md-5 cont-grid-img img_style">
              <a href="details.html"
                ><img
                  src="/static/images/22.jpeg"
                  class="img-responsive"
                  alt=""
                  style="height: 30vh; width: 30vw"
              /></a>
            </div>
            <div class="col-md-7 cont-grid">
              <div class="abt-para">
                <h4>PROBLEM STATEMENT OF THE PROJECT</h4>
                <p class="para top">
                  • Despite advances in healthcare, there remains a significant
                  gap in dermatological services, particularly in preliminary
                  diagnosis.
                </p>
                <p class="para">
                  •The deficit of dermatologists and the geographic limitations
                  in accessing specialist care exacerbate the problem, leading
                  to delayed diagnoses and treatments. This gap in service
                  disproportionately affects rural and underserved communities,
                  often resulting in worsened health outcomes.
                </p>
                <p class="para">
                  • The problem is twofold: firstly, there is an uneven
                  distribution of dermatological expertise, and secondly, there
                  is an increasing incidence of skin diseases globally. The need
                  for an accessible, efficient, and accurate preliminary
                  diagnostic process is critical.
                </p>
                <!-- <a class="more" href="#">Read More</a> -->
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="about-p">
              <h4>AIM & OBJECTIVE OF THE PROJECT</h4>
              <p class="para top">
                The overarching aim of this research is to develop an AI-based
                tool capable of providing preliminary diagnoses for
                dermatological conditions to improve the accessibility and
                efficiency of dermatological care.
              </p>
              <h4>SCOPE OF THE PROJECT</h4>
              <p class="para">
                The scope of this study encompasses the design, development, and
                evaluation of an AI-based tool for the preliminary diagnosis of
                dermatological conditions. It includes the application of CNN
                and MobileNet architectures for image analysis, the development
                of a user interface for various stakeholders (patients and
                healthcare providers), and the integration of multilingual
                support to cater to a broader demographic.
              </p>

              <!-- <a class="more" href="#">Read More</a> -->
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!-- about -->
    <div class="footer">
      <div class="container">
        <p>
          © 2024 All rights reserved | Design by
          <a href="#">Dermatology Centre</a>
        </p>
      </div>
    </div>
  </body>
</html>
