<!DOCTYPE html>
<html>
  <head>
    <title>
      Agriculture science a Bootstarp Website Template | Home :: w3layouts
    </title>
    <link
      href="/static/css/bootstrap.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      href="/static/css/style.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/static/css/flexslider.css"
      type="text/css"
      media="screen"
    />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/modernizr.custom.js"></script>
    
    
    

  </head>
  <body>
    <!-- header -->
    <div class="banner1">
      <div class="container">
        <div class="header" style="display: flex; justify-content: center">
          <div class="head-nav">
            <span class="menu"> </span>
            <ul class="cl-effect-1">
              <li><a href="/">Home</a></li>
              <li><a href="/about">about</a></li>
              <li><a href="/admin">Admin</a></li>
              <li><a href="/contact">Patient</a></li>
              <li class="active"><a href="/doctor">Doctor</a></li>
              <div class="clearfix"></div>
            </ul>
          </div>

          <div class="clearfix"></div>
        </div>
        <!-- script-for-nav -->
        <script>
          $("span.menu").click(function () {
            $(".head-nav ul").slideToggle(300, function () {
              // Animation complete.
            });
          });
        </script>
        <!-- script-for-nav -->
        <div class="logo1">
          <h1>
            <b
              >AI based tool For Preliminary Diagnosis Of Dermatological
              Manifestationsing</b
            >
          </h1>
        </div>
      </div>
    </div>
    <!-- header -->
    <div class="main_bg">
      <div class="container">
        <div class="main">
          <div class="section group">
            <div class="col span_1_of_2">
            
              <div class="contact_info">
              
                  {% with messages = get_flashed_messages() %}
                  {% if messages %}
                  <ul class=flashes>
                      {% for message in messages %}
                      <li>{{ message }}</li>
                      {% endfor %}
                  </ul>
                  {% endif %}
                  {% endwith %}
               
                <h3 class="style">Find Us Here</h3>
                <div class="map">
                 <br /><small
                    ><a
                      href="https://www.google.co.in/maps/place/Tirupati,+Andhra+Pradesh/@13.6277325,79.3836012,13z/data=!4m6!3m5!1s0x3a4d4b0f88620427:0xcf4152d1daca0cac!8m2!3d13.6287557!4d79.4191795!16zL20vMDg5bHJj?entry=ttu"
                      style="color: #555555; text-align: left; font-size: 13px"
                      >View Our Address In Google Map</a
                    ></small
                  >				<a href="/doctorin" class="btn btn-info">Sign In Here</a>

                </div>
              </div>
              <div class="clear"></div>
            </div>
            
            <div class="col span_2_of_4">
              <div class="contact-form">
            
                <h3 class="style">Sign Up Page</h3>
              
                <form method="post" action="/doctor">
                    <div>
                        <span><label>SELECT EXPERIENCE TYPE</label></span>
                        <span
                          >
                       
                          <input type="radio" id="age2" name="exp" value="Junior Doctor(0-3 years of experience)" class="textbox">
                          <label for="age2">Junior Doctor(0-3 years of experience)</label> &nbsp;&nbsp;
                          <input type="radio" id="age2" name="exp" value="Mid-Level Doctors (4-10 years of experience)r">
                          <label for="age2">Mid-Level Doctors (4-10 years of experience)</label> &nbsp;&nbsp;
                          <input type="radio" id="age2" name="exp" value="Senior Doctor(10+ years of experience)">
                          <label for="age1">Senior Doctor(10+ years of experience)</label>
                      </span>
                      </div>

                      <div>
                        <span><label>SELECT GENDER TYPE</label></span>
                        <span
                          >
                       
                          <input type="radio" id="age2" name="gender" value="Male" class="textbox">
                          <label for="age2">Male</label> &nbsp;&nbsp;
                          <input type="radio" id="age2" name="gender" value="Female">
                          <label for="age2">Female</label> &nbsp;&nbsp;
                          <input type="radio" id="age2" name="gender" value="Others">
                          <label for="age1">Others</label>
                      </span>
                      </div>
                      <div>
                        <span><label>HOSPITAL NAME</label></span>
                        <span
                          >
                      <select class="form-control" name="hname" id="inputState" required class="textbox">
                          <option value="SelectState">Select Hospital</option>
                          <option value="Apollo Hospitals">Apollo Hospitals</option>
                          <option value="Fortis Hospital">Fortis Hospital</option>
                          <option value="AIIMS">AIIMS</option>
                          <option value="Manipal Hospital">Manipal Hospital</option>
                          <option value="Max Super Speciality Hospital">Max Super Speciality Hospital</option>
                          <option value="Narayana Health">Narayana Health</option>
                          <option value="Columbia Asia Hospital">Columbia Asia Hospital</option>
                          <option value="KIMS Hospita">KIMS Hospita</option>
                          <option value="Global Hospitals">Global Hospitals</option>
                          <option value="Ruby Hall Clinic">Ruby Hall Clinic</option>

                    </select>
                    </div>
                    <div>
                      <span><label>HOSPITAL ADDRESS</label></span>
                      <span
                        >
                    <select class="form-control" name="addr" id="inputDistrict" class="textbox" required>
                        <option value="">-- select one -- </option>
                    </select>
                    </div> 
                  <div>
                    <span><label>NAME</label></span>
                    <span
                      ><input name="userName" type="text" class="textbox" required
                    /></span>
                  </div>
                  <div>
                    <span><label>E-MAIL</label></span>
                    <span
                      ><input name="userEmail" type="text" class="textbox" required
                    /></span>
                  </div>
				          <div>
                    <span><label>PASSWORD</label></span>
                    <span>
                      <input name="userPassword" type="password" class="form-control" class="textbox" minlength="6" maxlength="12" required/></span>
                  </div>
                  <div>
                    <span><label>AGE</label></span>
                    <span><input name="age" type="text" class="textbox" max="3" minlength="2" required/></span>
                  </div>
                  <div>
                    <span><label>MOBILE</label></span>
                    <span><input name="userPhone" type="text" class="textbox" pattern="[0-9]{10}" title="It accept 10 numbers" required/></span>
                  </div>
                 
                    <span><input type="submit" value="Register"  /></span>
                  </div>
                </form>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <p>
          © 2024 All rights reserved | Design by
          <a href="#">Agriculture Science</a>
        </p>
      </div>
    </div>
    <script src="/static/js/address.js"></script>
  </body>
</html>
