<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
  <head>
    <title>
      <title>AI based tool For Preliminary Diagnosis</title>
    </title>
    <link
      href="/static/css/bootstrap.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      href="/static/css/style.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="css/flexslider.css"
      type="text/css"
      media="screen"
    />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/modernizr.custom.js"></script>
  </head>
  <body>
    <!-- header -->
    <div class="banner1">
      <div class="container">
        <div class="header" style="display: flex; justify-content: center">
          <div class="head-nav">
            <span class="menu"> </span>
            <ul class="cl-effect-1">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/about">about</a></li>
              <li><a href="/admin">Admin</a></li>
              <li><a href="/contact">Patient</a></li>
              <li><a href="/doctor">Doctor</a></li>
              <div class="clearfix"></div>
            </ul>
          </div>

          <div class="clearfix"></div>
        </div>
        <!-- script-for-nav -->
        <script>
          $("span.menu").click(function () {
            $(".head-nav ul").slideToggle(300, function () {
              // Animation complete.
            });
          });
        </script>
        <!-- script-for-nav -->
        <div class="logo1">
          <h1>
            <b
              >AI based tool For Preliminary Diagnosis Of Dermatological
              Manifestationsing</b
            >
          </h1>
        </div>
      </div>
    </div>
    <!-- header -->
    <!-- welcome -->
    <div class="welcome">
      <div class="container">
        <div class="col-md-6 welcome-left">
          <h1>ABSTRACT !</h1>
          <h5>
            <b
              >AI based tool For Preliminary Diagnosis Of Dermatological
              Manifestationsing</b
            >
          </h5>
          <p>
            The increasing prevalence of skin diseases and the shortage of
            dermatologists in many regions necessitate the development of
            innovative solutions to assist in the preliminary diagnosis of
            dermatological conditions. We present an AI-based tool designed to
            serve as an aid for patients, general practitioners, and
            dermatologists. This system leverages Convolutional Neural Networks
            (CNN) and MobileNet architecture for the analysis of skin image
            datasets, providing a platform for the preliminary diagnosis of skin
            diseases. Upon registration, users can access different
            functionalities based on their role: admin/owner, patient, or
            doctor. The admin can train the model with a skin image dataset,
            view registered users, and receive feedback. Patients can log in,
            upload skin images, and provide additional information such as age,
            gender, and duration of the condition. The system then classifies
            the disease, provides a description, suggests remedies, and assesses
            disease severity. It also recommends dermatologists based on the
            diagnosis, allowing patients to book appointments and view their
            past disease history. <br />
            <b>KEYWORDS:</b> Dermatological Manifestations, Supervised machine
            learning, CNN, MobileNet, Hybrid Algorithm.
          </p>
          <!-- <a class="more" href="#">Read More</a> -->
        </div>
        <!-- FlexSlider -->
        <script defer src="/static/js/jquery.flexslider.js"></script>
        <script type="text/javascript">
          $(function () {
            SyntaxHighlighter.all();
          });
          $(window).load(function () {
            $(".flexslider").flexslider({
              animation: "slide",
              start: function (slider) {
                $("body").removeClass("loading");
              },
            });
          });
        </script>
        <!-- FlexSlider -->
        <div class="col-md-6 welcome-right">
          <section class="slider">
            <div class="flexslider">
              <ul class="slides">
                <li>
                  <img
                    src="/static/images/1.jpg"
                    class="img-responsive"
                    alt=""
                  />
                </li>
                <li>
                  <img
                    src="/static/images/2.jpg"
                    class="img-responsive"
                    alt=""
                  />
                </li>
                <li>
                  <img
                    src="/static/images/3.jpg"
                    class="img-responsive"
                    alt=""
                  />
                </li>
                <li>
                  <img
                    src="/static/images/4.jpg"
                    class="img-responsive"
                    alt=""
                  />
                </li>
                <li>
                  <img
                    src="/static/images/5.jpg"
                    class="img-responsive"
                    alt=""
                  />
                </li>
                <li>
                  <img
                    src="/static/images/6.jpg"
                    class="img-responsive"
                    alt=""
                  />
                </li>
                <li>
                  <img
                    src="/static/images/7.jpg"
                    class="img-responsive"
                    alt=""
                  />
                </li>
                <li>
                  <img
                    src="/static/images/8.jpg"
                    class="img-responsive"
                    alt=""
                  />
                </li>
                <li>
                  <img
                    src="/static/images/9.jpg"
                    class="img-responsive"
                    alt=""
                  />
                </li>
                <li>
                  <img
                    src="/static/images/10.jpg"
                    class="img-responsive"
                    alt=""
                  />
                </li>
              </ul>
            </div>
          </section>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- welcome -->
    <!-- generation -->

    <div class="footer">
      <div class="container">
        <p>
          © 2024 All rights reserved | Design by
          <a href="#">Dermatology Centre</a>
        </p>
      </div>
    </div>
    <!-- generation -->
  </body>
</html>
